.header
    background: url('../img/header/header-bg.png') left no-repeat
    background-size: cover
    min-height: 100vh
.container
    width: 85%
    margin: auto
.menu
    width: 100%
    display: flex
    justify-content: space-between

.header-wrap
    display: flex
    justify-content: space-between
